<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="menu" class="row" style="margin: 10px 0px 40px 10px;">
    <div class="col-md-12">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Kezdőlap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kurzus/uj">Új kurzus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/terem/uj">Új terem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/terem/v">Api hívás</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>