<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: cssAndJs"></div>
    <meta charset="UTF-8">
    <title>Új terem</title>
</head>
<body>
<div class="container-fluid">

    <!-- menu -->
    <div th:replace="fragments/menu :: menu"></div>

    <!-- form -->
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>
                Új terem
            </h3>
            <form role="form" th:object="${room}" method="post" th:action="@{/terem/save}">
                <div class="form-group">

                    <label for="nameInput">
                        Név
                    </label>
                    <input th:field="*{name}" type="text" class="form-control" id="nameInput" required/>
                </div>
                <div class="form-group">

                    <label for="levelInput">
                        Szint
                    </label>
                    <input th:field="*{level}" type="number" class="form-control" id="levelInput" required/>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>